/*variables*/
$white: white;

/*Flex mixin*/
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


/*Imports*/
@import 'global';
@import 'project';